h1{
    font-size: 170px;
}
.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cherries {
    color: #9C0E11;
    font-size: 80px;
}
.img {
    margin-left: auto;
    grid-column: 1/2;
    grid-row: 1/3;
}
.tart {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    text-align:right;
}
.side{
    background-color: #B9B8B9;
    grid-column: 2/3;
    grid-row: 1/3;
}